* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
 
 

body {
  height: 500vh;
  background-image: linear-gradient(
    to bottom,
    red,
    hotpink,
    lightgreen,
    green,
    aqua,
    blue
  );
}


nav {
  position: fixed;

}